/*
primary - #337ab7
*/

body{
  max-width:1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  color:inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:inherit;
}

header > div {
  padding: 0.5em;
}

.header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 34px;
}

.header-list li {
  float: left;
}

.header-list li:last-child {
  float: right;
}

.header-list li a {
  font-size: 16px;
  display: block;
  padding-right:1em;
  height:100%;
  line-height: 34px;
}

nav {
  background: #eee;
  margin-bottom: 34px;
}

nav > .container > ul {
  margin: 0;
  padding: 0;
  height: 34px;
  list-style-type: none;
}

nav > .container > ul > li {
  float: left;
  height: 100%;
}

nav > .container > ul > li:not(:last-child) {
  border-right: 1px solid #999;
}

nav > .container > ul > li:first-child {
  border-left: 1px solid #999;
}

nav > .container > ul > li > a {
  height: 100%;
  display: block;
  padding: 0 1em;
  line-height: 34px;
}

.product-detail div[class="col-md-4"] {
  border-right: 1px solid #eee;
}

.product-detail .list-unstyled li:first-child img {
 /* border: 2px solid green;*/
}

.product-detail .list-unstyled li img {
  width: 40%;
  height: 40%;
}

.product-detail table tr td {
  padding: 0.5em;
}

.product-image-color {
  border: 2px solid green;
  width: 5%;
  height: 5%;
}

.table-prod-detail {
 /* background: #eee;*/
  margin: 1em 0;
}

.prod-sm-tile {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 5px;
}

.prod-sm-tile li {
  float: left;
  margin-right: 10px;
  border: 1px solid #eee;
}

.prod-sm-tile li a {
  padding: 5px;
  display: block;
}

.prod-sm-tile li a img {
  width: 20px;
  height: 40px;
}

.prod-size-tile li a {
  display: block;
  background: #fff;
  border: 1px solid #777;
  padding: 5px 10px;
}

footer {
  margin-top: 30px;
}

footer .row {
  background: #eee;
  padding: 1em 0;
}

footer h4 {
  text-transform: uppercase;
}

.footer-text {
  background: #777 !important;
  padding: 1em 0;
  text-align: center;
  color: #fff;
}

.bordered-list li {
  border-bottom: 1px solid #777;
  padding: 10px 0;
}

.bordered-list li:last-child {
  border-bottom: none;
}

.padded-list li {
  padding: 10px 0;
}



.categories1321{
	 border: 2px solid #eee;
	 border-right:none;
	     padding: 0px;
}
.categories_dress1 {
    padding: 0;
}
.category_pic23{
	padding: 0;
}

.nav_bar4563{
	margin-bottom:0px;
}

.side-bar-header {
    background: #eee;
    padding: 1.5em 0.5em;
}

.side-bar-heading {
    font-size: 16px;
    font-weight: bold;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: grey;
    margin-right: 15px;
}

.side-bar-list li a div {
    font-size: 16px;
}
.side-bar-list li a {
    display: flex;
    align-items: center;
    padding: 10px 0.5em;
}

.recommended-prod-row div:not(:last-child) {
    border-right: 1px solid #eee;
}

.recommended-prod-row {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.list-header {
    border-top: 2px solid green;
    margin-top: 10px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-header li {
    margin: 5px 0;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.active {
    background: green;
    color: #fff;
}

.list-header li a {
    display: block;
    font-size: 15px;
    padding: 10px;
}

.flatpage-screen {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    background-color: grey;
    color: black;
}

.flatpage-screen h1 {
    color: white;
}

.commidity_dtls2{
border-bottom:2px solid orange;

color:orange;
}

.price32{
	color:#00adff;
	margin:20px auto;
}


.product-detail546{

	margin-bottom:30px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right:1px solid #eee;
	padding-top:20px;
}

.see_more542{
	padding-left: 70px;
    padding-right: 70px;
    background: white;
    text-shadow: none;
	border:1px solid #b9b7b7;
	border-radius:3px;
}




.img_description{
	text-align:center;
}
.order{
	text-align: center;
    font-size: 22px;
    color: #00adff;
}



	.btn757{
		width: 88%;
    height: auto;
    border-radius: 0px;
  background-color: #b56bb5;
    color: white !important;
	padding: 6px 16px;
}


.shipping-methds76{
	font-size:20px;
	padding-top:20px;
}

.all_products879{
	margin-top:50px;
}

.heading-contnt34{

	padding-bottom:10px;
}

.commidity_dtls2{
    background-color: #e8e7e7;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;

}

.commidity_dtls2 h4{
	margin-top:5px;
	margin-bottom:10px;
}

.prodct_dtls768{

}

.side-bar-list{
	padding-left:20px;
}
.side-bar-list li a{
	padding:4px;
	font-size: 14px;
    font-weight: 600;
}

.all_products879 .row{
	border-top:1px solid #eee;
	/*border-bottom:1px solid #eee;*/
	padding-bottom:20px;
	    padding-top: 30px;
}


.customised-services5423 .col-sm-3{
	text-align:center;
	margin-top:20px !important;

	padding:30px;
	border:1px solid grey;
	width:22%;
	margin:10px;
	height:144px;
}
.side-bar-list img{
	width: 30px !important;
    height: 25px !important;
    float: left;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:5px;
}


#owl-demo .item{
  background: ;
  padding:px 0px;
  margin: 10px;
  color: ;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product_slider34{

	margin-left:20px;
	margin-right:20px;
}

.product_slider34 .container{

	margin-left:0px;
	margin-right:0px;
	width:100%;
}

.nxt-pre-btns2{
	    margin-top: 180px;
}

.glyphicon654{
font-size: 40px;
    background-color: grey;
    color: white;
    padding: 10px;
}

.owl-theme .owl-controls{
	display:none !important;
}

.row{
	margin-left:0px;
	margin-right:0px;
}


.see_more542:hover{
background-color: #8c578c;
color:white;
}

.see_more5434{
	width: 92%;
    height: auto;
    border-radius: 0px;
    background-color: #8c578c;
    color: white !important;
    padding: 6px 16px;
	text-align:center;
	border:none;
	border-radius:3px;
	margin:20px 40px 20px 30px;
}


.main_section43{
	margin:0px 20px;
}

.show_hide5432{
	color:grey;
	text-align:right;
}


	.show_hide_row3{
		border:1px solid #b9b7b7;
		border-top:none !important;
		padding-top:15px;
	}

.FILTERS645{
	border:none;
}

#btn_categories6768.see_more542{
	    padding-left: 55px;
    padding-right: 55px;
}

.all_products78{
	margin:20px;
}

.categorry77 .col-md-3{
	margin-top:20px;
}

.left_barsame4{
	margin-bottom:30px;
	margin-top:60px;
}

#arivls6757.see_more542{
	padding:0px;
	width: 100%;
    height: 30px;
	margin-bottom:15px;
	font-size: 12px;
}




#box{

   /* width:500px;*/
    min-height:260px;

}
.open,.open2 {
   /* width:450px;
    height:50px;*/

    margin:5px auto 0 auto;




    }
.showpanel,.showpanel2{
    /*width:450px;
    height:300px;*/
    margin:0 auto 10px auto;

    display:none;

}

ul{
	list-style:none;
}

.all_products78 li a{
color:#827d7d;
font-family:Courier;
    font-size: px;}


.left_menu669 h5 {
    font-size: 15px;
	border-bottom:1px solid;
	padding-bottom:5px;
	margin-bottom:15px;
}

.filter_btn{
	float: right;
    color: white;
    background-color: #2d2b2b;
    border: none;
    padding: 4px 22px;
    border-radius: 4px;
}
.left_menu669 ul{
	padding-left:0px;
}

.sleepwear7678 li {
	margin-bottom:10px;
	font-size:16px;
}

.sub_sleepwear7678 li{
	margin-bottom:0px;
	font-size:15px;
	margin-left:5px;
}

.price778 p{
	font-size: 12px;
	color: #827d7d;
}

footer.container{
	width:100%;
}


/*#ftwlanguages{
	DISPLAY:none;
}*/


.header-list .fa {
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
    color: grey;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
}

#search_icon23.fa{
	background-color: transparent;
	height: auto;
}


#footer_btn65{
	margin-left: -5px;
    background-color: #337ab7;
    background-image: none;
    color: white;
    border-radius: 0px 4px 4px 0px;

}
.showpanel ul li{
	padding-bottom: 10px;
}

.dropdown_categories67{
	float:right;
	margin-top: -5px;
	font-size: 25px;
}

.showpanel1{
	display:none;
}
#box1{
	min-height: 150px;
}

#box1 h5{
	    font-size: 14px;
		border:none;
}
.showpanel1 ul li{
	padding-bottom: 10px;
}

#box2 h5{
	    font-size: 14px;
		border:none;
}

.product_count784{
	float:right;
}

.page_no67{

	border-radius:50%;
	background-color:white;
	border:1px solid #b9b7b7;;
	    width: 30px;
    height: 30px;
    text-align: center;
	text-shadow:none;
}

.page_no67:hover{
	background-color:#8c578c;
	color:white;
}
.page_no67:active{
	background-color:#8c578c;
	color:white;
}
.page_no677657{
	text-align:center;
}

.quantity7657 .fa{
	background-color:#337ab7;
	color:white;
	padding: 5px;
    border: 1px solid;

}
.quantity7657 a{
	padding:0px !important;
	border:none !important;
}

@media screen and (max-width:768px)
{
	.col-sm-8{
		    width: 66.66666667%;
	}
}

.category_header97 .img-responsive{
	display:initial;
}

.copyright58 p{
	background-color:white;
	padding:10px;
	margin-left:10px;
	margin-right:10px;
}



#slider.price_slider42 label {
    display: none;
}


.ui-widget-header{
	    background: #8c578c !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	    background: black !important;
		border-radius:50% !important;
}
