{% extends "base2.html" %}
{% load staticfiles %}
{% load category_tags %}

{% block title %}
  Home | {{block.super}}
{% endblock title %}

{% block content %}

  <section class="container product-detail .sec-home">


   <div class="container categories1321">
    <div class="row row-eq-height">
      <div class="col-md-4 categories_dress1">
        <div class="side-bar-header">
          <span class="side-bar-heading">CATEGORIES</span>

        </div>

        {% category_tree as tree_categories %}
          <ul class="list-unstyled side-bar-list">
              {% for tree_category, info in tree_categories %}
                <li><img src="{{category.image.url}}" /><a href="{{tree_category.get_absolute_url}}">{{tree_category.name|upper}}</a></li>
              {% endfor %}
          </ul>

        </div>
      <div class="col-md-8 category_pic23">

		 <div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                    <img src="{% static "images/cover.jpg" %}" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>
                <li>
				<img src="{% static "images/cover.jpg" %}" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>
                <li>
                    <img src="{% static "images/cover.jpg" %}" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>

            </ul>
            <!--<div class="fs-icon" title="Expand/Close"></div>-->
        </div>
    </div>


      </div>
    </div>
  </div>
  </section>


<div class="all_products879">

		 <h3 style="text-align:center; " class="heading-contnt34"> Sales </h3>


	<div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo" class="owl-carousel owl-theme">
          {% for each in stocks %}
						<div class="item"><img src="{{each.product.primary_image.original.url}}" width="250px" alt="" />

							<div class="img_description">
								   <p> {{each.product.title}} </p>
                   {% if user.is_authenticated %}
                   <h5 class="price32"><a href="{{each.product.get_absolute_url}}"> {{each.price_currency}} {{each.price_retail}}</a></h5>
                   {% else %}
                      <h5 class="price32"><a href="{% url "customer:login" %}">Sign in to see price</a></h5>
                  {% endif %}

							</div>

						</div>
          {% endfor %}


				</div>

				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right prev glyphicon654"></span>
						 </div>

				</div>

			</div>
          </div>
        </div>

    </div>

	</div>
	  </div>





	 <div class="all_products879">
	   <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34"> Arrivals</h3>

	  <div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev1 glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo1" class="owl-carousel owl-theme">
          {% for each in stocks %}
						<div class="item"><img src="{{each.product.primary_image.original.url}}" width="250px" alt="" />

							<div class="img_description">
								   <p> {{each.product.title}} </p>
                   {% if user.is_authenticated %}
                   <h5 class="price32"><a href="{{each.product.get_absolute_url}}"> {{each.price_currency}} {{each.price_retail}}</a></h5>
                   {% else %}
                      <h5 class="price32"><a href="{% url "customer:login" %}">Sign in to see price</a></h5>
                  {% endif %}

							</div>

						</div>
          {% endfor %}

				</div>


				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right next1 glyphicon654"></span>
						 </div>

				</div> </div> </div>


				<!--<div class="customNavigation">
						  <a class="btn prev">Previous</a>
						  <a class="btn next">Next</a>
						  <a class="btn play">Autoplay</a>
						  <a class="btn stop">Stop</a>
				</div>-->

			</div>
          </div>
        </div>

    </div>






	<div class="all_products879">
	   <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34">Bestsellers</h3>


        <div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev2 glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo2" class="owl-carousel owl-theme">
          {% for each in stocks %}
						<div class="item"><img src="{{each.product.primary_image.original.url}}" width="250px" alt="" />

							<div class="img_description">
								   <p> {{each.product.title}} </p>
                   {% if user.is_authenticated %}
                   <h5 class="price32"><a href="{{each.product.get_absolute_url}}"> {{each.price_currency}} {{each.price_retail}}</a></h5>
                   {% else %}
                      <h5 class="price32"><a href="{% url "customer:login" %}">Sign in to see price</a></h5>
                  {% endif %}

							</div>

						</div>
          {% endfor %}

						  <!--<div class="item"><h1>8</h1></div>
						  <div class="item"><h1>9</h1></div>
						  <div class="item"><h1>10</h1></div>
						  <div class="item"><h1>11</h1></div>
						  <div class="item"><h1>12</h1></div>
						  <div class="item"><h1>13</h1></div>
						  <div class="item"><h1>14</h1></div>
						  <div class="item"><h1>15</h1></div>
						  <div class="item"><h1>16</h1></div>-->


				</div>


				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right next2 glyphicon654"></span>
						 </div>

				</div>

	  </div>
	  </div>

	  </div>
          </div>
        </div>

    </div>






<section class="container product-recommendations">
	   <div class="all_products879">

	     <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34">Customised Services</h3>

				  <div class="row  customised-services5423">
				   <div class="col-sm-3">

						<h3>Dropshiping </h3>

				   </div>


				   <div class="col-sm-3">

						<h3>You Design I Produce </h3>

				   </div>



				   <div class="col-sm-3">

						<h3> Private Labeling</h3>

				   </div>


				   <div class="col-sm-3">

				       <h3> Coorperation </h3>

				   </div>
				   </div>
	    </div>

  </section>


{% endblock content %}
