{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} Ivy Wear</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- style.css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

	<link href="{% static "css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}" type="text/css" media="screen" />
	<link href="{% static "css/index_slider.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "js/ninja-slider.js" %}" type="text/javascript"></script>
  </head>
  <body>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <a href="{% url "promotions:home" %}"><img src="{% static "images/logo.png" %}"></a>
			      {% if not user.is_authenticated %}<a href="{% url "customer:login" %}" style="float:right; margin-top: 40px; font-family:Georgia;"> Log/set up an account</a>{% else %}
            <a href="{% url "customer:logout" %}">Logout</a>{% endif %}
          </div>

          <div class="col-md-2" style="margin-top:40px;">
		  <!--<a href="#" style="float:left; margin-top: 40px; font-family:Georgia;"> Log/set up an account</a>-->
            <a href="http://free-website-translation.com/" id="ftwtranslation_button" hreflang="en" title="" style="border:0;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="FWT Homepage Translator" style="border:0;"></a><div id="ftwtranslationWindow" style="border-radius: 2px; border: 2px solid rgb(231, 231, 231); position: absolute; z-index: 99999; left: 15px; top: 18px; display: none;"><div id="ftwtranslationContent" style="border:1px solid #d0d0d0;"><div id="ftwselector" style="background:#f3f5ec;padding:1px 3px;font-size:10px;font-family:verdana;color:#000;">Select a target language:</div><div id="ftwlanguages" style="width:220px;background:#fff;padding: 1px 3px;font-size:10px;font-family:verdana;color:#000;"><div class="ftwrow1" style="width: 110px;float:left;padding:5px 0 3px 0;"><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=tr" id="ftw_Turkish" style="font-size: 10px; font-family: verdana; color: rgb(0, 0, 0); text-decoration: none; background: url(&quot;http://free-website-translation.com/img/flags/tr.png&quot;) left top no-repeat; padding: 0px 0px 0px 18px; margin: 0px 0px 2px; line-height: 16px; display: block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Turkish</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=de" id="ftw_German" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/de.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">German</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=es" id="ftw_Spanish" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/es.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Spanish</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=fr" id="ftw_French" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/fr.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">French</a></div><div class="ftwrow2" style="width: 110px;float:left;padding:5px 0;"><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=pt" id="ftw_Portuguese" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/pt.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Portuguese</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=ja" id="ftw_Japanese" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/ja.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Japanese</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=it" id="ftw_Italian" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/it.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Italian</a><a href="http://translate.google.com/translate?u=http://vebdezine.com/&amp;hl=en&amp;ie=UTF8&amp;sl=en&amp;tl=ru" id="ftw_Russian" style="font-size:10px;font-family:verdana;color:#000;text-decoration: none;background:url(http://free-website-translation.com/img/flags/ru.png) no-repeat top left;padding:0 0 0 18px;margin:0 0 2px 0;line-height:16px;display:block;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Russian</a></div><a id="fwtmore" href="#" style="display:block;clear:both;font-size:10px;font-family:verdana;color:#000;">- more</a><div style="clear:both;line-height:1px;"> </div></div><div id="ftwpowered" style="background:#f3f5ec;padding:1px 3px;font-size:10px;font-family:verdana;color:#000;width:220px;text-align: right;">powered by <a href="http://free-website-translation.com" style="font-size:10px;font-family:verdana;color:#000;">Free-Website-Translation</a></div></div></div> <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://free-website-translation.com/scripts/fwt.js"></script><script type="text/javascript" src="http://free-website-translation.com/scripts/fwtjquery.js"></script><script type="text/javascript" src="http://free-website-translation.com/scripts/transserver.js?lang=http://vebdezine.com/about/"></script>
          </div>

		  <!--<div class="col-sm-1">
		  <a href="#" style="float:left; margin-top: 20px; font-family:Georgia;"> Ask online</a>
		  </div>-->

          <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:; margin-top:25px;">
		  <a href="#" style="float:left; margin-top: 20px; font-family:Georgia; padding-right: 35px;"> Ask online</a>
		  <a href="{% url "basket:summary" %}" style=" margin-top:10px; font-family:Georgia;">Shopping cart:</a><br>
		  <span style="font-size:2em;"><i class="fa fa-eur" aria-hidden="true"></i>{{request.basket.total_excl_tax}}</span>
		  <a href="{% url "basket:summary" %}"><img src="{% static "images/shopping_cart.png" %}" style="height: 50px;"></a>
            <!--<a href="#" <i="" class="glyphicon glyphicon-shopping-cart" style="font-size:4em; color:green;"></a>-->

          </div>
        </div>
      </div>



      <div class="conainer-fluid bg-primary">
        <div class="container">
          <ul class="header-list">
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+49(0)212 76992</a></li>
            <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i>PDF upload</a></li>
            <li style="display: inline-flex;"><input type="text" class="form-control" name="search" placeholder="SEARCH">
				<button type="submit" class="search-button"> <i class="fa fa-search" aria-hidden="true" id="search_icon23"></i>   </button>


			</li>
          </ul>
        </div>
      </div>
    </header>
    <!-- End of Header -->

    <!-- Nav -->
    <nav class="nav_bar4563" style="margin-bottom:15px;">
      <div class="container">
        <ul>
          <li><a href="{% url "promotions:home" %}">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/popular-products/">Popular Products</a></li>
          <li><a href="/new-arrivals/">New Arrivals</a></li>
          <li><a href="/big-sales/">Big Sales</a></li>
          <li><a href="/customize-service/">Customize Service</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/shipping-and-faq/">Shipping</a></li>
          <li><a href="/shipping-and-faq/">FAQ</a></li>
        </ul>
      </div>
    </nav>



    {% block content %}
    {% endblock content %}

    <!-- Footer -->
    <footer class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>DOWNLOAD CATALOGUE</h4>
          <img src="{% static "images/magazine.jpg" %}" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3">
          <h4>CONTACT US</h4>
          <ul class="list-unstyled">
            <li>Wowerat GmbH <br>  Heiligenstock 36-38 <br> D-42697 Solingen</li><br>
            <li>Ph: +49(0)212 76992</li>
            <li>Ph: +49(0)212 71360</li>
      <li>eMail: info@wowerat.de </li>
          </ul>
          <ul class="list-unstyled bordered-list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">How to find us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>INFORMATION</h4>
          <ul class="list-unstyled bordered-list">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/size-chart/">Size Chart</a></li>
            <li><a href="/payment-and-dispatch/">Payment and Dispatch</a></li>
            <li><a href="/privacy-statement/">Privacy Statement</a></li>
            <li><a href="/gtc/">GTC</a></li>
            <li><a href="/legal-disclosure/">Legal Disclosure</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>NEWSLETTER</h4>
          <ul class="list-unstyled padded-list">
            <li>Subscribe to the free wowerat newsletter and never miss any update from our wowerat offers or news.</li>
            <li>
              <form class="form-inline">
                <input type="text" class="form-control" name="name" placeholder="email">
                <button type="submit" class="btn btn-default" id="footer_btn65"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
              </form>
            </li>

      <li style="text-align:right;  padding-top:50px;">Ask me online <br>
      <img src="{% static "images/chat_image.png" %}" style="height: 70px;"></li>
          </ul>
        </div>
      </div>
      <div class="row footer-text">
        * All prices quoted are net of the statutory value-added tax and shipping costs and possibly delivery charges, if not otherwise described.
      </div>
    <div class="row copyright58">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> lingerie-wholesale.biz Wszelkie prawa zastrzezone/all rights reserved.  </p>
    </div>
    </footer>
    <!-- End of Footer -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

   <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.js" %}"></script>
  <script defer src="{% static "js/jquery.flexslider.js" %}"></script>

    <script>
      $(document).ready(function() {

        var owl = $("#owl-demo");

        owl.owlCarousel({

        items : 4, //10 items above 1000px browser width
        itemsDesktop : [1000,3], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
        itemsTablet: [600,2], //2 items between 600 and 0;
        itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option

        });

        // Custom Navigation Events
        $(".next").click(function(){
        owl.trigger('owl.next');
        })
        $(".prev").click(function(){
        owl.trigger('owl.prev');
        })
        $(".play").click(function(){
        owl.trigger('owl.play',1000);
        })
        $(".stop").click(function(){
        owl.trigger('owl.stop');
        })


      });






      $(document).ready(function() {

        var owl = $("#owl-demo1");

        owl.owlCarousel({

        items : 4, //10 items above 1000px browser width
        itemsDesktop : [1000,3], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
        itemsTablet: [600,2], //2 items between 600 and 0;
        itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option

        });

        // Custom Navigation Events
        $(".next1").click(function(){
        owl.trigger('owl.next');
        })
        $(".prev1").click(function(){
        owl.trigger('owl.prev');
        })
        $(".play").click(function(){
        owl.trigger('owl.play',1000);
        })
        $(".stop").click(function(){
        owl.trigger('owl.stop');
        })


      });



      $(document).ready(function() {

        var owl = $("#owl-demo2");

        owl.owlCarousel({

        items : 4, //10 items above 1000px browser width
        itemsDesktop : [1000,3], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
        itemsTablet: [600,2], //2 items between 600 and 0;
        itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option

        });

        // Custom Navigation Events
        $(".next2").click(function(){
        owl.trigger('owl.next');
        })
        $(".prev2").click(function(){
        owl.trigger('owl.prev');
        })
        $(".play").click(function(){
        owl.trigger('owl.play',1000);
        })
        $(".stop").click(function(){
        owl.trigger('owl.stop');
        })


      });



    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });

    </script>


  </body>



</html>
