


  <section class="container product-detail .sec-home">


   <div class="container categories1321">
    <div class="row row-eq-height">
      <div class="col-md-4 categories_dress1">
        <div class="side-bar-header">
          <span class="side-bar-heading">CATEGORIES</span>

        </div>

            <ul class="list-unstyled side-bar-list">


				   <li ><img src="images/women.jpg"><a href="#">Women's Clothing</a> </li>
				   <li><img src="images/men.png"><a href="#">Men's Clothing </a></li>
				   <li><img src="images/phone.png"><a href="#"> Phones and Accessories</a></li>
				   <li><img src="images/computer.jpg"><a href="#"> Computer and Office</a></li>
					<li><img src="images/headphone.png"><a href="#">Consumer Electronics</a></li>
					<li><img src="images/jewellery.png"><a href="#">Jewelry & Watches  </a></li>
					<li><img src="images/computer.jpg"><a href="#">Home & Garden		</a>			</li>
				    <li><img src="images/bag.png"><a href="#"> Begs & Shoes </a></li>
					<li><img src="images/toy.png"><a href="#">Toys, Kids & Baby </a></li>
					<li><img src="images/football.png"><a href="#">Sports & Outdoors </a></li>
					<li><img src="images/computer.jpg"><a href="#">Health & Beauty </a></li>
					<li><img src="images/car.png"><a href="#">Automobiles & Motorcycles</a> </li>
					<li><img src="images/148957-200.png"><a href="#">Home Improvement</a></li>

            </ul>
      </div>
      <div class="col-md-8 category_pic23">


		<!-- <div class="flexslider">

				<ul class="slides">

					<li>
						<img src="images/cover.jpg" class="img-responsive" alt="">
					</li>

					<li>
						<img src="images/cover.jpg" class="img-responsive" alt="">
					</li>

					<li>
						<img src="images/cover.jpg" class="img-responsive" alt="">
					</li>

				</ul>

				<ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li><li class="flex-nav-next"><a class="flex-next" href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li></ul>

		</div>-->


		 <div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                    <img src="images/cover.jpg" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>
                <li>
				<img src="images/cover.jpg" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>
                <li>
                    <img src="images/cover.jpg" class="img-responsive" alt="">
                    <div class="caption"></div>
                </li>

            </ul>
            <!--<div class="fs-icon" title="Expand/Close"></div>-->
        </div>
    </div>


      </div>
    </div>
  </div>
  </section>










  <!--<section class="container product-recommendations">


      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
		<div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>
       <!-- <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>
       <!-- <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>
        <!--<ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>
        <!--<ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>


	  </div></div></section>-->


<div class="all_products879">

		 <h3 style="text-align:center; " class="heading-contnt34"> Sales </h3>


	<div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item"><img src="images/product.jpg" alt="" />

							<div class="img_description">
								   <p> ipsum dolor </p>
								   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							</div>

						</div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>


						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>


						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />


								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>
							   </div>


						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>

						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							    </div>
						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							    </div>
						  </div>
						  <!--<div class="item"><h1>8</h1></div>
						  <div class="item"><h1>9</h1></div>
						  <div class="item"><h1>10</h1></div>
						  <div class="item"><h1>11</h1></div>
						  <div class="item"><h1>12</h1></div>
						  <div class="item"><h1>13</h1></div>
						  <div class="item"><h1>14</h1></div>
						  <div class="item"><h1>15</h1></div>
						  <div class="item"><h1>16</h1></div>-->


				</div>


				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right prev glyphicon654"></span>
						 </div>

				</div>


				<!--<div class="customNavigation">
						  <a class="btn prev">Previous</a>
						  <a class="btn next">Next</a>
						  <a class="btn play">Autoplay</a>
						  <a class="btn stop">Stop</a>
				</div>-->

			</div>
          </div>
        </div>

    </div>

	</div>
	  </div>





	 <div class="all_products879">
	   <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34"> Arrivals</h3>


      <!--<div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
		<div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"><strong> sign in to see price</strong> </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>-->
       <!-- <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>-->
       <!-- <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>-->
        <!--<ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
       <div class="img_description">
			   <p> ipsum dolor </p>
			   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
			   <button type="button" class="see_more542">See more</button>
	   </div>-->
        <!--<ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>-->




	  <div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev1 glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo1" class="owl-carousel owl-theme">
						<div class="item"><img src="images/product.jpg" alt="" />

							<div class="img_description">
								   <p> ipsum dolor </p>
								   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
								   <button type="button" class="see_more542">See more</button>
							</div>

						</div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							   </div>


						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							   </div>


						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />


								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							   </div>
							   </div>


						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							   </div>

						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							    </div>
						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>
									   <button type="button" class="see_more542">See more</button>
							    </div>
						  </div>
						  <!--<div class="item"><h1>8</h1></div>
						  <div class="item"><h1>9</h1></div>
						  <div class="item"><h1>10</h1></div>
						  <div class="item"><h1>11</h1></div>
						  <div class="item"><h1>12</h1></div>
						  <div class="item"><h1>13</h1></div>
						  <div class="item"><h1>14</h1></div>
						  <div class="item"><h1>15</h1></div>
						  <div class="item"><h1>16</h1></div>-->


				</div>


				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right next1 glyphicon654"></span>
						 </div>

				</div> </div> </div>


				<!--<div class="customNavigation">
						  <a class="btn prev">Previous</a>
						  <a class="btn next">Next</a>
						  <a class="btn play">Autoplay</a>
						  <a class="btn stop">Stop</a>
				</div>-->

			</div>
          </div>
        </div>

    </div>






	<div class="all_products879">
	   <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34">Bestsellers</h3>


        <div class="product_slider34">

	<div id="demo">
        <div class="container">
          <div class="row">
            <div class="span12">

	          <div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						  <!--<a class="btn prev">Previous</a>-->
						  <span class="glyphicon glyphicon-chevron-left prev2 glyphicon654"></span>
						</div>

			  </div>

			  <div class="col-sm-10" style="padding:0px;">
				<div id="owl-demo2" class="owl-carousel owl-theme">
						<div class="item"><img src="images/product.jpg" alt="" />

							<div class="img_description">
								   <p> ipsum dolor </p>
								   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							</div>

						</div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>


						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>


						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />


								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>
							   </div>


						  <div class="item"><img src="images/product.jpg" alt="" />

								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							   </div>

						  </div>
						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							    </div>
						  </div>

						  <div class="item"><img src="images/product.jpg" alt="" />
								<div class="img_description">
									   <p> ipsum dolor </p>
									   <h5 class="price32"><a href="#"> sign in to see price </a></h5>

							    </div>
						  </div>
						  <!--<div class="item"><h1>8</h1></div>
						  <div class="item"><h1>9</h1></div>
						  <div class="item"><h1>10</h1></div>
						  <div class="item"><h1>11</h1></div>
						  <div class="item"><h1>12</h1></div>
						  <div class="item"><h1>13</h1></div>
						  <div class="item"><h1>14</h1></div>
						  <div class="item"><h1>15</h1></div>
						  <div class="item"><h1>16</h1></div>-->


				</div>


				</div>


				<div class="col-sm-1 nxt-pre-btns2">
						<div class="customNavigation">
						     <!--<a class="btn prev">Next</a>-->
							 <span class="glyphicon glyphicon-chevron-right next2 glyphicon654"></span>
						 </div>

				</div>

	  </div>
	  </div>

	  </div>
          </div>
        </div>

    </div>






<section class="container product-recommendations">
	   <div class="all_products879">

	     <h3 style="text-align:center; margin-top:20px;" class="heading-contnt34">Customised Services</h3>

				  <div class="row  customised-services5423">
				   <div class="col-sm-3">

						<h3>Dropshiping </h3>

				   </div>


				   <div class="col-sm-3">

						<h3>You Design I Produce </h3>

				   </div>



				   <div class="col-sm-3">

						<h3> Private Labeling</h3>

				   </div>


				   <div class="col-sm-3">

				       <h3> Coorperation </h3>

				   </div>
				   </div>
	    </div>

  </section>












  <!--<section class="container product-recommendations">


  <div class="row">
      <div class="col-md-12">
        <ul class="list-inline list-header">
          <li><a href="#">HOT</a></li>
          <li class="active"><a href="#">Dresses</a></li>
          <li><a href="#">Top &amp; Tees</a></li>
          <li><a href="#">Jackets &amp; Coats</a></li>
          <li><a href="#">Bottoms</a></li>
          <li class="pull-right"><a href="/accounts/login/">Sign In</a></li>
        </ul>
      </div>
    </div>

  <!--<div class="row recommended-prod-row">
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
        ipsum dolor
        <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
        ipsum dolor
        <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
        ipsum dolor
        <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="images/product.jpg" class="img-responsive" alt="" /></a>
        ipsum dolor
        <ul class="prod-sm-tile">
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
          <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
        </ul>
      </div>

	</div>-->
    <!--</section>-->
    <!-- End of Section Recommendations -->
