{% extends "base2.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title}} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="flatpage-screen">

    <h1>{{flatpage.title}}</h1>

    {{ flatpage.content }}
  </div>
{% endblock %}
