{% extends "base2.html" %}
{% load category_tags %}
{% load i18n %}
{% load currency_filters %}
{% load category_tags %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}


{% block content %}

  <section class="main_section43">

  	<div class="row all_products78">

  			<div class="col-sm-2 left_menu669">
  					<h3 style="font-family:Georgia;">Categories</h3>
  				<ul style="list-style-type:none;" class="sleepwear7678">
  					{% category_tree as tree_categoies %}
              {% for tree_category, info in tree_categories %}
                <li><a href="{{tree_categorye.get_absolute_url}}">{{tree_category.name|title}}</a></li>
              {% endfor %}
  				</ul>

  			</div>

  			<div class="col-sm-10 categorry77">

            {% for each in products %}
  								<div class="col-md-3">
  								<a href="{{each.product.get_absolute_url}}"><img src="{each.product.primary_image_url}" class="img-responsive" alt="" /></a>
  								<div class="img_description">
  									   <p> {{each.product.name}} </p>
                       {% if request.user.is_authenticated %}
  									            <h5 class="price32"><a href="#"><strong> {{product.price_retail|currency:product.price_currency}}</strong> </a></h5>
                      {% else %}
                        <a href="{% url "registration:login" %}"><h5 class="price32">Sign in to see price</h5></a>
                      {% endif %}
  									   <!-- <button type="button" id="btn_categories6768" class="see_more542">See more</button> -->
  							   </div>
  							   <!-- <ul class="prod-sm-tile">
  								  <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
  								  <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
  								  <li><a href="#"><img src="images/product.jpg" alt="" /></a></li>
  								</ul>-->
  							  </div>
            {% endfor %}

  				  <button type="button" class="see_more5434">NEXT PAGE</button>
  				   <div class="page_no677657"><button type="button" class="page_no67">1</button>
  				   <button type="button" class="page_no67">2</button>
  				   <i class="fa fa-angle-double-right" aria-hidden="true" style="margin-left:10px;"></i>
  				   </div>


  			</div>

  	</div>

  </section>

{% endblock %}
