{% extends "base2.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}


{% block header %}
{% endblock header %}

{% block content %}

<!-- Section Product -->
<section class="container product-detail">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li><img src="images/product.jpg" alt="" /></li>
        <li><img src="images/product.jpg" alt="" /></li>
        <li><img src="images/product.jpg" alt="" /></li>
        <li><img src="images/product.jpg" alt="" /></li>
        <li><img src="images/product.jpg" alt="" /></li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="images/product.jpg" alt="" class="img-responsive" />
    </div>
    <div class="col-md-6">
      <h3>Title</h3>
  <h5 class="price32"><a href="#"> sign in to see price </a></h5>

  <h4> Purchase description </h4>
  <p> </p>
  <br>
  <br>
  <br>
  <br>

      <hr />
     <!-- <table>
        <tr>
          <td>
            Price
          </td>
          <td>
            <strike>999</strike>
          </td>
        </tr>
        <tr>
          <td>
            Discount Price
          </td>
          <td>
            <h4>888</h4>
          </td>
        </tr>
      </table>-->

      <table class="table-prod-detail">
        <tr>
          <td>
            Color
          </td>
          <td>
            <img src="images/product.jpg" class="product-image-color" alt="" />
          </td>
        </tr>
        <tr>
          <td>
            Size
          </td>
          <td>
            <ul class="list-inline prod-size-tile">
              <li><a href="#">L</a></li>
              <li><a href="#">M</a></li>
              <li><a href="#">XL</a></li>
            </ul>
          </td>
        </tr>
   <tr>
          <td>
            Quantity
          </td>
          <td>
            <ul class="list-inline prod-size-tile quantity7657">
              <li><input type="text"></li>
      <li><a href=""><i class="fa fa-minus" aria-hidden="true"></i> </a></li>
       <li><a href=""><i class="fa fa-plus" aria-hidden="true"></i> </a> </li>
       <li> ( MOQ :  ) </li>

            </ul>
          </td>

        </tr>

   <tr>
          <td>
            Shipping:
          </td>
    <td>
    <select class=" " style="width:100%; height:26px;">
    <option> </option>
    <option>abc </option>
    </select>
    </td>
    </tr>
      </table>

      <!--<a href="#" class="btn btn-lg btn-warning">Buy Now</a>-->
      <a href="#" class="btn btn-lg btn757">Add to Cart</a>

  <div class="row">
  <div class="col-sm-6 shipping-methds76">
  <P>Shipping cost and methods </p>
  <p>Payment methods </p>
  </div>

  <div class="col-sm-6 shipping-methds76">
  <p> Questions ? </p>
  <p> Call to order </p>
  <p> tel: xxxx </p>
  </div>
    </div>

  </div>
</section>



<!-- End of Section Product -->

<!-- Section Recommendations -->
<section class="container product-recommendations">

<p class="order"> Order before 3:00pm, Shippment today! <p>


<div class="prodct_dtls768">
<div class="row commidity_dtls2">

<h4 class=""> Commodity Details</h4>

</div>

<div class="row product-detail546">

  <div class="col-sm-4">
    <p><strong> Shipping methods</strong> Most countries Free shipping </p>
      <p><strong> Brand Name</strong> PSEEWE </p>
    <p><strong> Model number:</strong> 0003613 </p>
    <p><strong> Season </strong>Winter</p>
    <p><strong> Material Composition :</strong>Flannel</p>
  </div>

  <div class="col-sm-4">

  <p><strong> Included items :</strong>Pajamas 1 Pcs</p>
  <p><strong> Style </strong>pajama sets</p>
  <p><strong> Pattern Type:</strong> Animal</p>
  <p><strong> Gender : </strong>women</p>
  <p><strong> Length : </strong>Full Length</p>
  <p><strong> Sleeve Lenght : </strong>Full</p>
  </div>

  <div class="col-sm-4">
   <p><strong> pajamas for women :</strong> female pajama</p>
   <p><strong> product name : </strong>panda onesie</p>
   <p><strong> Item Type :</strong> Pajamas</p>
   <p><strong> Collar :</strong>Hooded</p>
   <p><strong> Material : </strong>Cotton, Polyester</p>

  </div>

</div>

</div>

<h4 style="text-align:center; "> See also </h4>

<div class="row">
  {% for each in stocks %}
    <div class="col-md-3"><img src="{{each.product.primary_image.original.url}}" width="250px" alt="" />

      <div class="img_description">
           <p> {{each.product.title}} </p>
           {% if user.is_authenticated %}
           <h5 class="price32"><a href="{{each.product.get_absolute_url}}"> {{each.price_currency}} {{each.price_retail}}</a></h5>
           {% else %}
              <h5 class="price32"><a href="{% url "customer:login" %}">Sign in to see price</a></h5>
          {% endif %}

      </div>

    </div>
  {% endfor %}


</div>



 <h4 style="text-align:center; margin-top:20px;"> Recently viewed products </h4>

 <div class="row">
   {% for each in stocks %}
     <div class="col-md-3"><img src="{{each.product.primary_image.original.url}}" width="250px" alt="" />

       <div class="img_description">
            <p> {{each.product.title}} </p>
            {% if user.is_authenticated %}
            <h5 class="price32"><a href="{{each.product.get_absolute_url}}"> {{each.price_currency}} {{each.price_retail}}</a></h5>
            {% else %}
               <h5 class="price32"><a href="{% url "customer:login" %}">Sign in to see price</a></h5>
           {% endif %}

       </div>

     </div>
   {% endfor %}


 </div>





</section>
<!-- End of Section Recommendations -->

{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
